#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;     
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }

nav{
    padding-bottom: 4em;
    border-bottom: 3px solid blue;
}


body {
	font-family: Arial, Helvetica, Sans-Serif;
    font-size: 100%;
	width: 95%;
	background-color: white;
	margin: 15px auto;
	padding: 15px 1.5em;
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 5px 5px 0 0;
}

article {
    float: left;
    width: 75;
    column-count: 3;
    column-rule: 4px dotted blue;    
    column-gap: 2em;
	margin-left: 2em;
}

article h1 {
    column-span: all;
}

article h1, h2 {
    color: blue;
}

article p::first-letter {
    font: 3em bold italic;
}

article img {
    float: left;
}

aside {
    width: 20%;    
	padding: 0.1em 1em 1em;
    position: fixed;
	top: 30%;
	right: 0;
	border: 4px solid darkblue;
	background-color: lightblue;
	padding: 1.5em;
}

aside ol {
    list-style-type: Upper-Roman;
}

aside ul {
    list-style-type:square;
}

footer {
	clear: both;
	border-top: 4px solid blue;
}

footer p.copyright {
	text-align: center;
	font-size: 70%;
}